<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MoSeqAcquire.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoSeqAcquire.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Kinect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Accord" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.2.0" newVersion="3.8.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Accord.Video" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.2.0" newVersion="3.8.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MoSeqAcquire.Properties.Settings>
      <setting name="ThemeIsDarkMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ThemePrimaryColor" serializeAs="String">
        <value>red</value>
      </setting>
      <setting name="ThemeAccentColor" serializeAs="String">
        <value>yellow</value>
      </setting>
    </MoSeqAcquire.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <MoSeqAcquire.Properties.Settings>
      <setting name="MediaSourcePluginPaths" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>MediaSources\</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="RecorderPluginPaths" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Recorders\</string>
          </ArrayOfString>
        </value>
      </setting>
    </MoSeqAcquire.Properties.Settings>
  </applicationSettings>
</configuration>
