<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MoSeqAcquire.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MoSeqAcquire.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    
        <dependentAssembly>
    
            <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="SharpDX.DirectSound" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="ControlzEx" publicKeyToken="69f1c32f803d307e" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
    
        </dependentAssembly>
    
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MoSeqAcquire.Properties.Settings>
      <setting name="ThemeIsDarkMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ThemePrimaryColor" serializeAs="String">
        <value>red</value>
      </setting>
      <setting name="ThemeAccentColor" serializeAs="String">
        <value>yellow</value>
      </setting>
      <setting name="RecentProtocols" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
    </MoSeqAcquire.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <MoSeqAcquire.Properties.Settings>
      <setting name="PluginPaths" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>MediaSources</string>
            <string>Recorders</string>
            <string>Triggers</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DiskUsageWarningThreshold" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="CPUUsageWarningThreshold" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="RecentProtocols" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="MaxRecentProtocolsToRemember" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ThemePrimaryColor" serializeAs="String">
        <value>green</value>
      </setting>
      <setting name="ThemeAccentColor" serializeAs="String">
        <value>blue</value>
      </setting>
      <setting name="TriggersExecutionMode" serializeAs="String">
        <value>Synchronous</value>
      </setting>
      <setting name="RamUsageWarningThreshold" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SystemIdentity" serializeAs="String">
        <value />
      </setting>
      <setting name="RecordingSummaryOutputFormat" serializeAs="String">
        <value>JSON</value>
      </setting>
    </MoSeqAcquire.Properties.Settings>
  </applicationSettings>
</configuration>
