<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MoSeqAcquire.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MoSeqAcquire.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <runtime>
    
  </runtime>
  <userSettings>
    <MoSeqAcquire.Properties.Settings>
      <setting name="ThemeIsDarkMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ThemePrimaryColor" serializeAs="String">
        <value>red</value>
      </setting>
      <setting name="ThemeAccentColor" serializeAs="String">
        <value>yellow</value>
      </setting>
    </MoSeqAcquire.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <MoSeqAcquire.Properties.Settings>
      <setting name="PluginPaths" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>MediaSources</string>
            <string>Recorders</string>
            <string>Triggers</string>
          </ArrayOfString>
        </value>
      </setting>
    </MoSeqAcquire.Properties.Settings>
  </applicationSettings>
</configuration>
