<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ar1st0crat.SciColorMaps" version="1.0.2" targetFramework="net462" />
  <package id="ControlzEx" version="5.0.2" targetFramework="net461" requireReinstallation="true" />
  <package id="CSCore" version="1.2.1.2" targetFramework="net452" />
  <package id="Dragablz" version="0.0.3.234" targetFramework="net461" />
  <package id="gong-wpf-dragdrop" version="3.2.0" targetFramework="net462" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net461" />
  <package id="MaterialDesignColors" version="2.0.9" targetFramework="net462" />
  <package id="MaterialDesignThemes" version="4.6.1" targetFramework="net462" />
  <package id="MaterialDesignThemes.MahApps" version="0.2.5" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net461" />
  <package id="MvvmValidation" version="3.1.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net462" />
  <package id="Serilog" version="2.12.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Console" version="4.1.0" targetFramework="net462" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net462" />
  <package id="Serilog.Sinks.TextWriter" version="2.1.0" targetFramework="net462" />
  <package id="System.Collections" version="4.3.0" targetFramework="net462" />
  <package id="System.Interactive" version="6.0.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Dataflow" version="7.0.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>